<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmark</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header><h1>Bookmark page</h1></header>
  <nav>
    <input type="button" class="nav-btn" value="main">
    <input type="button" class="nav-btn" value="add">
    <input type="button" class="nav-btn" value="recent">
    <input type="button" class="nav-btn" value="most">
    <input type="button" class="nav-btn" value="category">
    <input type="button" class="nav-btn" value="search">
  </nav>
  <main>
    <section class="out">
      <h2>OUT Section</h2>
      <table>
        <caption>Bookmark</caption>
        <colgroup>
          <col span="5">
        </colgroup>
        <thead>
          <tr>
            <th>Like</th>
            <th>Title</th>
            <th>Last Visit</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>⭐</td>
            <td><a href="https://naver.com" target="_self" title="https://naver.com">네이버</a></td>
            <td>2020-05-16</td>
            <td><button>update</button></td>
            <td><button>delete</button></td>
          </tr>
        </tbody>
      </table>
    </section> 
    <section class="in">
      <h2>IN Section</h2>
      <form>
        <legend>Register URL</legend>
        <fieldset>
          <legend>Not Optional</legend>
          <label>
            Title<input type="text" id="title" name="title"/>
          </label>
          <label>URL<input type="url" name="url" id="url">
          </label>
        </fieldset>
        <fieldset>
          <legend>Optional</legend>
          <label>Description<input type="text" name="desc" id="desc">
          </label>
          <label>
            Category
            <select name="" id="">
              <optgroup label="Category"></optgroup>
              <option value="category1">category1</option>
              <option value="category1">category2</option>
              <option value="category1">category3</option>
              <option value="category1">category4</option>
            </select>
          </label>
        </fieldset>
        <input type="button" value="Submit">
      </form>
    </section>
  </main>
  <footer>
    <address>
      이메일 : <a href="mailto:xxxxxxx@naver.com">xxxxxxx@naver.com</a>
      전화번호 : <a href="tel:+821011111111">010-1111-1111</a>
      </address>
  </footer>
</body>
</html>