<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Bookmark page</h1>
  <div>
    <button><a href="/" class="nav-btn">main</a></button>
    <button><a href="/url" class="nav-btn">add</a></button>
    <button><a href="/category" class="nav-btn">category</a></button>
  </div>



  {% block content %}
  {% endblock %}




  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {% block script %}
  {% endblock %}

  <footer>
    <address>
      이메일 : <a href="mailto:xxxxxxx@naver.com">xxxxxxx@naver.com</a>
      전화번호 : <a href="tel:+821011111111">010-1111-1111</a>
    </address>
  </footer>
</body>
</html>