{% extends 'layout.html' %}

{% block content %}
<section class="in">
  <h2>IN Section</h2>
  <form action="/v1/url" method="post" id="u-form">
    <legend><h3>Register URL</h3></legend>
    <fieldset>
      <legend>Not Optional</legend>
      <label>
        Title<input type="text" id="title" name="title"/>
      </label>
      <label>URL<input type="url" name="url" id="url">
      </label>
    </fieldset>
    <fieldset>
      <legend>Optional</legend>
      <label>Description<input type="text" name="description" id="description">
      </label>
      <label>
        Category
        <select name="category" id="category-select">
          <optgroup label="Category"></optgroup>
          <option disabled="disabled" value="" selected hidden>Categories</option>
        </select>
      </label>
    </fieldset>
    <input type="submit" value="Submit" id="Ubtn">
  </form>
</section>
{% endblock %}

{% block script %}
<script src="./javascripts/url.js"></script>
{% endblock %}